body{
    background-image: linear-gradient(to right,   rgb(121, 121, 233),rgb(162, 68, 68));
    display: flex;
    color: aliceblue;
}
@font-face {
    font-family: "D";
    
    src: url("/IndieFlower-Regular.ttf");
}

#login{
    border: 4px solid #f0e0e0;
    border-radius: 10px;
    padding: 5px 25px 15px;
    position: fixed;
    right: 35px;
    bottom: 5px;
    color: rgb(233, 239, 230);
    font-size: 25px;
    line-height: 70%;

}

h2{
    font-size: 50px;
    color: #ecbdbd;
    text-align: center;
    font-family: 'D', Courier, monospace;
}

input{
    border-radius: 8px;
    border: none;
    height: 30px;
    width:  248px;
    
}
button{
    height: 35px;
    width: 90px;
    border: 3px solid white;
    display: block;
    margin: 8px auto;
    border-radius: 8px;
    background-image: linear-gradient(to right,rgb(121, 121, 233),rgb(162, 68, 68));
    color: white;
    

}
form{
    display: block;
    margin: 0 auto;
    width: 250PX;
}

h1{
    color: rgb(229, 14, 14);
    font-size: 100px;
    font-family: 'D', Courier, monospace;
}
a{
    text-decoration: none;
    color: aliceblue;
    margin-bottom: 80px;
}
img{
    width: 90px;
    height: 90px;
}


.insta{
    margin-left: 100px;

}

.para{
    text-align: center;
}